<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pure Hydration</title>
<!-- <link href="assets/css/bootstrap.min.css" type="text/css"
	rel="stylesheet" />
<link href="assets/css/datepicker3.css" type="text/css" rel="stylesheet" />
<link href="assets/css/styles.css" type="text/css" rel="stylesheet" />
<link href="assets/css/bootstrap-table.css" type="text/css"
	rel="stylesheet" />
<link href="assets/css/jquery.datetimepicker.css" type="text/css"
	rel="stylesheet" />
<link href="assets/css/angular-chart.css" type="text/css"
	rel="stylesheet" /> -->
	<link href="dist/css/Pure-Hydration.css" type="text/css"
	rel="stylesheet" />
</head>
<body ng-app="pure-hydration-ng" ng-controller="AppController">

	<div id="container">
		<header></header>
		<div ng-include src="'app/common/header.html'"></div>
		<div ng-if="loginBean.loggedIn == true" ng-include
			src="'app/common/menu.html'"></div>
		<div id="main" role="main">
			<div class="slide-animation-container">
				<div ng-view class="vertical-flip msg"></div>
			</div>
			<!--	
				<div ng-include src="'app/superadmin/dashboard.html'"></div>
			</div>
			<div ng-if="loginBean.loggedIn != true">
				<div ng-include="'app/login/login.html'"></div>
			</div> -->
		</div>
		<!-- 		<footer> Pure Hydration Angular Version 1.0.0 </footer> -->
	</div>

	<!-- Included Libs -->
	
 
	<script src="assets/lib/others/jquery-1.11.1.min.js"></script>
	<script src="assets/lib/others/bootstrap.min.js"></script>
	<script src="assets/lib/others/bootstrap-table.js"></script>

	<script src="assets/lib/others/chart.min.js"></script>
	<script src="assets/lib/others/bootstrap-datepicker.js"></script>
	<script src="assets/lib/others/jquery.datetimepicker.js"></script>
	<script src="assets/lib/others/jquery.mask.js"></script>
	<script src="assets/lib/others/jquery.numeric.js"></script>
	<!-- 	<script src="assets/lib/others/jquery-loader.js"></script> -->
	<script src="assets/lib/others/common.js"></script>
	<script src="assets/lib/others/Chart.js"></script>
	<script src="assets/lib/others/xlsx.core.min.js"></script>
	<script src="assets/lib/others/alasql.js"></script>
	<script type="text/javascript" src="assets/lib/others/fusioncharts.js"></script>
	
	<!-- 
	-->
	<script src="dist/js/Pure-Hydration.components.js"></script> 

	<!-- comment out when grunt works
	 
		<script src="assets/lib/angular/angular.js"></script>
		<script src="assets/lib/angular/angular-animate.js"></script>
		<script src="assets/lib/angular/angular-route.js"></script>
		<script src="assets/lib/angular/angular-cookies.js"></script>
		<script src="assets/lib/angular/angular-resource.js"></script>
		<script src="assets/lib/angular/angular-google-gapi.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-translate.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-translate-storage-cookie.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-translate-storage-local.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-translate-loader-static-files.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-translate-loader-url.min.js"></script>
	<!--  end comment-->
		
		
		
	<script src="assets/lib/angular/angular-chart.js"></script>
	<script src="assets/lib/angular/angular-loader.js"></script>
	<script src="assets/lib/angular/ngStorage.js"></script>
	<script src="assets/lib/angular/angular-idle.js"></script>
	<script type="text/javascript" src="assets/lib/angular/angular-fusioncharts.js"></script>
	<!-- 	<script src="assets/lib/angular/angular-scenario.js"></script> -->
	<script src="dist/js/Pure-Hydration.js"></script>


	

</body>
</html>
