<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">{{pagePath}}
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
			&nbsp;
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
			<div class="panel-heading">{{pageHeader}}</div>
			<div class="panel-body">
			<form name="companyDetail" id="companyDetail" action="createUpdateCompany.do" method="post" enctype="multipart/form-data">
					<div id="divError" class="form-group" style="color: red;"></div>
					<div id="divMessage" class="form-group" style="color: green;"></div>
						
					<div class="col-md-6">
						
							<div class="form-group">
								<label>Name</label><label style="color: red;">*</label>
								<input type="hidden" id="companyID" name="companyID" ng-model="companyDetail.companyId"/>
								<input type="text" id="name" name="name" tabindex="1" class="form-control" ng-maxlength="75" ng-model="companyDetail.name"/>
							</div>
															
							<div class="form-group">
								<label>Address 1</label><label style="color: red;">*</label>
								<input type="text" id="address1" name="address1" tabindex="2" class="form-control" ng-maxlength="150" ng-model="companyDetail.address1"/>
							</div>
                               
                            <div class="form-group">
								<label>Address 2</label><label style="color: red;">*</label>
								<input type="text" id="address2" name="address2" tabindex="3" class="form-control" ng-maxlength="150" ng-model="companyDetail.address2"/>
							</div>
                            
                            <div class="form-group">
								<label>Country</label><label style="color: red;">*</label>								
								<select ng-model="companyDetail.countryId"
									ng-options="country.country for country in countryList">
									<option value="">--Select--</option>
								</select>
							</div>
							
                            <div class="form-group">
								<label>State</label><label style="color: red;">*</label>
								<select ng-model="companyDetail.stateId"
									ng-options="state.state for state in stateList">
									<option value="">--Select--</option>
								</select>
							</div>
							   
                            <div class="form-group">
								<label>City</label><label style="color: red;">*</label>
								<select ng-model="companyDetail.cityId"
									ng-options="city.city for city in cityList">
									<option value="">--Select--</option>
								</select>
							</div>
                               
                            <div class="form-group">
								<label>Zip</label><label style="color: red;">*</label>
								<input type="text" id="postalCode" name="postalCode" tabindex="7" class="form-control" ng-maxlength="6" ng-model="companyDetail.postalCode" onchange="checkNumeric()"/>
							</div>   
                            
                            
                            <button id="submit" type="submit" class="btn btn-primary" tabindex="13" onclick="return addUpdateCompany();">{{saveActionCaption}}</button>
                            <button type="reset" class="btn btn-default" tabindex="14">Reset</button>

						</div>
						<div class="col-md-6">
							<label>Company Logo</label><label style="color: red;">*</label>
							<input type="hidden" name="logo" id="logo" class="hidden-image-data" />
							<input type="hidden" name="isCropped" id="isCropped" value="true"/>
								<div class="form-group">
								<div class="image-editor">
      								<input id="imageUpload" name="imageUpload" type="file" class="cropit-image-input"/>
								      <div class="cropit-image-preview" id="imagePreview" style="display: block;"></div>
								      <p><img src="{{companyLogoUrl}}" id="smallImage" style="margin-top: 7px;border: 1px solid #ccc;"/></p>
								      <p class="help-block">Logo size: 416px wide by 107px high</p>
      									<div id="imgLabel" class="image-size-label" style="display: none;">
        									Resize image
      									</div>
      									<input id="imgRange" style="display: none;width: 83%;" type="range" class="cropit-image-zoom-input" />
<!--       									<button class="export">Export</button> -->
    							</div>
								</div>
                                <div class="form-group">
                                       <label>Phone</label><label style="color: red;">*</label>
                                       <input type="text" id="contactNo" name="contactNo" tabindex="9" class="form-control" ng-maxlength="11" ng-model="companyDetail.contactNo" onchange="checkNumeric()"/>
                                   </div>
                                   
                                <div class="form-group">
                                       <label>E-Mail</label><label style="color: red;">*</label>
                                       
                                				<input type="text" id="emailId" name="emailId" tabindex="10" class="form-control" ng-maxlength="75" ng-model="companyDetail.emailId" placeholder="contact@example.com"/>
                               	 		
                                </div>
                                <div class="form-group">
                                       <label>Website</label><label style="color: red;">*</label>
                                       <input type="text" id="website" name="website" tabindex="11" class="form-control" ng-maxlength="75" ng-model="companyDetail.website" placeholder="http://example.com"/>
                                   </div>
                                <c:choose>
                                <!-- <c:when test="${paramValues.page[0] ne 'companyProfile' and page ne 'companyProfile'}">	
                                <div class="form-group">
									<label>Status</label><label style="color: red;">*</label><br />
									<c:choose>
										<c:when test="${! empty companyDetail.activeFlag}">
											<c:if test="${companyDetail.activeFlag eq 1}">
												<input type="radio" name="activeBlock" id="activeBlock" value="Active" checked/>Active &nbsp;
												<input type="radio" name="activeBlock" id="activeBlock" value="Block"/>Block
											</c:if>
											<c:if test="${companyDetail.activeFlag eq 2}">
												<input type="radio" name="activeBlock" id="activeBlock" value="Active"/>Active &nbsp;
												<input type="radio" name="activeBlock" id="activeBlock" value="Block" checked/>Block
											</c:if>
										</c:when>
										<c:otherwise>
											<input type="radio" name="activeBlock" id="activeBlock" value="Active" checked/>Active &nbsp;
											<input type="radio" name="activeBlock" id="activeBlock" value="Block"/>Block
										</c:otherwise>
									</c:choose>
							 	</div>
							 	</c:when> -->
							 		<input type="hidden" name="activeBlock" id="activeBlock" ng-model="companyDetail.activeFlag"/>
							 		<input type="hidden" name="page" id="page" ng-model="companyProfile" />
						</div>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<form name="userListDetail" id="userListDetail" method="post" action="uploadFile.do?companyId=${companyDetail.companyId}" enctype="multipart/form-data">
				<input type="hidden" name="companyId" id="companyId" ng-model="companyDetail.companyId"/>
				<input type="hidden" name="companyName" id="companyName" ng-model="companyDetail.name"/>
				<div class="panel-heading"><strong>{{companyDetail.name}}</strong> - Company Users <a href="javascript:loadUserDetail();" class="btn btn-primary">New</a>
				<c:if test="${userRole eq superAdminRole}">
				<a href="" onclick="document.getElementById('uploadCSV').click(); return false" class="btn btn-primary" id="importCSV">Import CSV File</a>
				</c:if>
       			<a href="exportUserDetailsToExcel.do?companyId=${companyDetail.companyId}&companyName=${companyDetail.name}" class="btn btn-primary" id="export" style="float: right;margin-top: 6px;">Export</a>
       			<input type="file" id="uploadCSV" name="uploadCSV" style="visibility: hidden; width: 1px; height: 1px"/>
				</div>
				</form>
				<div class="panel-body">
					<div id="divError" class="form-group" style="color: red;"></div>
					<div id="divMessage" class="form-group" style="color: green;"></div>
					<table id="userListTable" data-search="true" data-pagination="true" data-show-refresh="false"
							data-show-toggle="false" data-show-columns="false"
							data-search="true" data-select-item-name="userId"
							data-sort-name="userId" data-sort-order="desc">
					    <thead>
					    <tr>
					        <th data-field="userId" data-checkbox="true" class="bs-checkbox"
										style="width: 36px;"></th>
					        <th data-field="firstName" data-sortable="true">First Name</th>
                            <th data-field="lastName" data-sortable="true">Last Name</th>
					        <th data-field="department"  data-sortable="true">Department</th>
					        <th data-field="emailId" data-sortable="true">Email</th>
                            <th data-field="type" data-sortable="true">Type</th>
                            <th data-field="status" data-sortable="true">Status</th>
                            <th data-field="link" data-sortable="false">Edit</th>
					    </tr>
					    </thead>
					</table>
				</div>
			</div>
		</div>
	</div><!--/.row-->	
	</c:if>
		
</div><!--/.main-->